.poster{
    background-color: lightgrey;
    width: 1200px;
    height: 300px;
    margin-top: -200px;
    padding: 20px;
}

.navi{
    width: 1000px;
    margin-left: 100px;
}

.header__image {
    height: 100px;
    width: 100px;
    margin-top: 0px;
    margin-left: 0px;
}

.search__box {
    width: 200px;
}

.header__link {
    font-size: 20px;
    margin-left: 10px;
}