*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(
        #d4402c,
        #7dc7ec
    );
}
.container{
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
    padding-bottom: 200px;
}
.log {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 3px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 250px;
}
.action{
    background-color: #20e706;
    border: none;
    color: rgb(2, 7, 3);
    padding: 10px 3px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 35px;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .topshape{
    height: 630px;
    width: 120px;
    position: absolute;
}
.topshape:first-child{
    background: linear-gradient(
        #dde7ec,
        #7dc7ec
    );
    left: -250px;
    top: -100px;
}
.topshape:last-child{
    background: linear-gradient(
        #d4402c,
        #dde7ec
    );
    bottom: -100px;
    right: -250px;
}
form{
    height: 600px;
    width: 800px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
