.post {
    max-width: 1000px;
    background-color: white;
    border: 1px solid lightgrey;
    margin-bottom: 50px;
}
.post__image {
    width:100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-radius: 0px;
    margin-left: 0px;
}

.post__text{
    font-weight: normal;
    padding: 15px;
}

.post__username{
    padding: 15px 10px;
    margin-right: 8px;
}
.post_comments{
    padding: 15px;
}
.comment_input {
    flex: 1;
    border: none;
    padding: 8px;
    border-top: 1px solid lightgrey;
}

.comment_submit {
    flex:0;
    border: none;
    border-top: 1px solid lightgrey;
}

.like__area {
    display: flex;
    align-items: center;
}

.like__button {
    width: 50px;
    margin-left: 5px;
}

.like__text {
    padding-left: 5px;
}